<div class="card namewrapper">
  <p> <a href="/"><img src="images/back.png" class="backpng"></a> </p>
  <div class="underline round"><p><i class="fa fa-user" aria-hidden="true"></i>{{ single.info.name }}</p></div>
  <div class="underline round"> <p><i class="fa fa-phone" aria-hidden="true"></i>{{ single.info.phone }}</p></div>
  <div class="underline round"> <p><i class="fa fa-envelope-o" aria-hidden="true"></i>{{ single.info.email }}</p></div>
  <div class="underline round"><p><i class="fa fa-map-marker" aria-hidden="true"></i>{{ single.info.area }}</p></div>
</div>